* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: #bda7b8;
    /* line-height: 1.6; */
  }
  
  ul {
    list-style: none;
    
    /* position: absolute; */
  }
  label {

    font-weight: bold;
  }
  ul li {
    padding: 0 50px;
    background: #bda7b8;
    /* margin: 0  0  0 0; */
    /* position: relative; */
    width: 100%;
  }
    li1 {
    margin-top: 50px;
    padding-top:50px;
    
  }
  header {
    background: #edbff3;
    padding: 1rem;
    text-align: center;
  }
  
  .container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
  }
  
  #input1 {
    padding: 2rem;
    background: #edbff3;
  }
  
  /* #input1 label {
    display: block;
  }
   */
  #input1 input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-weight: bold;
  }
  #check {
  margin: 0;
  padding: 0;
  }
  .btn {
    display: block;
    width: 10em;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 0 0 10px 50px ;
    
  }
  .dbtn {
    /* display: block; */
    /* width: 5em; */
    padding: 10px 150px;
    border: 0;
    background: #bda7b8;
    color: #fff;
    /* border-radius: 5px; */
    margin: 0 0 10px 50px ;
    color: red;
  }
  #users{
    display: block; 
  }
  .btn:hover {
    background: #444;
  }
  
  /* .bg-dark {
    background: #333;
    color: #fff;
  } */
  
  .error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }
