* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    /* line-height: 1.6; */
  }
  
  ul {
    list-style: none;
    /* position: absolute; */
  }
  
  ul li {
    padding: 10px;
    background: #f4f4f4;
    margin: 0  0  0 10px;
    /* position: relative; */
    width: 80%;
  }

  header {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
  }
  
  .container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
  }
  
  #input1 {
    padding: 2rem;
    background: #f4f4f4;
  }
  
  /* #input1 label {
    display: block;
  }
   */
  #input1 input[type='text'] {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    display: block;
    width: 10em;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
  }
  #users{
    display: block; 
  }
  .btn:hover {
    background: #444;
  }
  
  /* .bg-dark {
    background: #333;
    color: #fff;
  } */
  
  .error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }